<div class="image-with-text">

    <div class="wrapper-large">

        <div class="image-with-text__inner">
            <div class="image-with-text__column-1">
                <div>
                    <h3>
                        <span>METHOD</span> OVERMADNESS
                    </h3>
                    <p>
                        We’ve become an industry bullied by deadlines, where ‘done’ has become more valuable than ‘right’. Add in the incessant proliferation of channels, tactics and touchpoints, knowing what ‘right’ looks like fades into oblivion.
                    </p>
                    <p>
                        The brands that rise above, connect with their buyers and stand the test of time are those that default to rigour and method - not blind panic and scatter guns.
                    </p>
                    <p>
                        It’s what we’ve been doing for over 30 years, we’ve been around the block enough times to know fast fads don’t solve marketing problems - method, rigour and clarity does.</p>
                    <h2>
                        If you have <span>one chance</span> to connect and 3.5 seconds to convert, the wise choice is to act methodically.
                    </h2>
                </div>
            </div>
            <div class="image-with-text__column-2">
                <div>
                    <img src="{{ theme.link }}/images/owl.png" alt="">       
                </div>
            </div>
        </div>
        
    </div>    

</div>

