.brand {
    padding: 85px 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;

    @media screen and (max-width: 767px) {
        padding: 60px 0;
    }

    &__inner {
        display: flex;
        justify-content: center;
        margin: 0 -15px;

        @media screen and (max-width: 991px) {
            flex-direction: column;
            margin: 0;
        }
    }

    &__col-1 {
        width: 50%;

        @media screen and (max-width: 991px) {
            width: 100%;
            padding: 0;
        }
    }

    &__col-2 {
        width: 50%;
        padding-left: 50px;

        @media screen and (max-width: 991px) {
            width: 100%;
            padding: 0;
            margin-top: 20px;
        }
    }

    h2 {
        margin: 0 0 70px 0;
        color: $darkslate;
        font-family: $AlgaRegular;
        font-weight: 400;

        @media screen and (max-width: 991px) {
            margin: 20px 0 45px;
            text-align: center;
        }

        @media screen and (max-width: 767px) {
            font-size: 26px;
            line-height: 32px;
            margin: 0 0 30px;
        }
    }

    img {
        margin: 0 auto;
    }

    @media screen and (max-width: 991px) {
        .button {
            text-align: center;
        }
    }

    .button a {
        letter-spacing: 3px;
    }

    .custom-underline {
        &:after {
            background: $pastelGreen;
        }
    }
}
