.general-media-block {
    &__image {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 600px;

        @media only screen and (max-width: 1400px) {
            height: 500px;
        }

        @media only screen and (max-width: 1200px) {
            height: 400px;
        }

        @media only screen and (max-width: 500px) {
            height: 300px;
        }
    }

    &__video {
        position: relative;
        width: 100%;
        padding-top: 56.25%;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}